name: Test coverage
on:
  pull_request:
  push:
    branches: [ main ]
permissions:
  contents: write
  pull-requests: write
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v6
      with:
        fetch-depth: 10
    - name: Collect coverage results
      id: coverage
      uses: gwatts/go-coverage-action@v2
      with:
        coverage-threshold: 80
        cover-pkg: .
    - name: Update coverage badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      if: github.ref_name == 'main'
      with:
        auth: ${{ secrets.COVERAGE_GIST_TOKEN }}
        gistID: 8642d8c0268d7a0f7e436e66dbdbbf88
        filename: badge-mung-coverage.json
        namedLogo: Go
        logoColor: '#F9F9F9'
        label: Coverage
        message: ${{ steps.coverage.outputs.coverage-pct-1dp }}%
        color: ${{ steps.coverage.outputs.meets-threshold == 'true' && '#40BB12' || 'red' }}
